#animal-table {
  background-image: url(/images/bgio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.styled-table {
  border-collapse: collapse;
  border-radius: 1rem;
  font-size: 2rem;
  min-width: 50rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #f0ebeb;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #000;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #a0e303;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.styled-table tbody tr td img {
  width: 7rem;
  height: auto;
}

@media (max-width: 350px) {
  .styled-table {
    font-size: 1rem;
  }
}
